@import './base/reset';
@import './base/variables';
@import './base/base';

// Blocks
@import './blocks/header';
@import './blocks/banner';

@import './blocks/products';
@import './blocks/case';
@import './blocks/product';
@import './blocks/footer';
