@import './base/reset';
@import './base/variables';
@import './base/base';

// Blocks
@import './blocks/header/index.scss';
@import './blocks/header/popup-mobile.scss';
@import './blocks/header/popup.scss';

@import './blocks/banner';

@import './blocks/product/products';
@import './blocks/product/case';
@import './blocks/product/product';

@import './blocks/footer';
