body {
  background-color: #eaeaea;

  font-family: 'Montserrat';
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1110px;

  margin: 0 auto;
  padding: 20px 20px;
}

.container-catalog {
  margin: 10px;
}
