body {
  background-color: #eaeaea;

  font-family: 'Montserrat';
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
  padding: 15px;

  margin-bottom: 30px;
}

.content__background {
  width: 100%;
  max-width: 350px;

  height: 100%;
  max-height: 407px;

  background-color: $products_background;
  border-radius: 30px;

  padding: 20px;
}
