.banner {
  width: 99%;

  height: 100%;
  max-height: 187px;

  margin-bottom: 25px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: $banner__background;
  border-radius: 30px;

  @media (max-width: 530px) {
    width: 80%;
    max-height: unset;

    flex-direction: column;
  }
}

.banner__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: white;

  @media (max-width: 530px) {
    font-weight: normal;
    font-size: 24px;
  }
}

.banner__image {
  width: 214px;
  height: 185px;

  padding: 10px;

  @media (max-width: 530px) {
    width: 180px;
    object-fit: contain;
  }
}
