.case {
}

.case__img {
  margin: 25px 100px;

  width: 151px;
  height: 292px;

  object-fit: contain;
}

.case__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
}
