.case__image {
  width: 151px;
  height: 292px;

  margin: 25px 0 25px 50%;

  transform: translateX(-50%);
}

.case__title {
  margin-bottom: 25px;

  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  text-align: center;
}
