.footer {
  width: calc(100% - 30px);
  background-color: $footer__background;
  border-radius: 30px 30px 0px 0px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  flex-direction: column;

  margin-bottom: 0;

  @media (min-width: $min-table) {
    flex-direction: inherit;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.footer__nav {
  margin: 25px 0;

  display: flex;
  justify-content: center;

  @media (min-width: $min-table) {
    flex-direction: column;
  }
}

.footer__nav-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;

  margin-right: 10px;
  margin-bottom: 10px;
}

.footer__info {
}

.footer__info-conditions {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
}

.footer__info-language {
  margin-top: 25px;

  display: flex;
  justify-content: space-around;
}

.footer__language-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  &:hover {
    font-weight: 700;

    color: #ffa542;
  }
}

.footer__messenger {
  margin-top: 25px;

  display: flex;
  justify-content: center;
}

.footer__messenger-image {
  width: 30px;
  height: 30px;

  margin-right: 15px;
}
