.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  max-height: 197px;

  background-color: $footer-color;
  border-radius: 30px;
}

.footer__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__nav-text {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.footer__conditions {
}

.footer__conditions-text {
  margin-bottom: 15px;

  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.footer__language {
  margin-top: 30px;
}

.footer__language-text {
  margin-right: 15px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.focus {
  color: #ffa542;
}

.footer__messager {
}

.footer__message-img {
  margin-right: 18px;

  width: 30px;
  height: 30px;
}
