.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.header__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-phone {
  width: 22px;
  height: 20px;

  margin-right: 5px;
}

.header__nav-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.header__nav-arrow {
  width: 8px;
  height: 5px;

  margin-left: 5px;
}

.header__container-like {
  width: 22px;
  height: 20px;

  margin-right: 25px;
}

.header__container-store {
  width: 22px;
  height: 20px;
}
