.product {
  padding: 10px;
}

.product__image-like {
  width: 20px;
  height: 18px;
}

.product__image-product {
  width: 151px;
  height: 237px;

  margin-left: 50%;
  margin-bottom: 25px;

  transform: translateX(-50%);

  object-fit: contain;
}

.product__info {
  display: flex;
  justify-content: space-between;
}

.product__info-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
}

.product__info-price {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #ffa542;
}

.product__score {
  margin: 10px 0;
}

.product__score-image {
  width: 23px;
  height: 21px;
}

.product__score-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #838383;
}
