.product {
}

.product__img-like {
  width: 20px;
  height: 18px;
}

.product__img-product {
  margin: 15px 30px;

  width: 219px;
  height: 237px;
}

.product__description {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;
}

.product__description-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
}

.product__description-price {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #ffa542;
}

.product__score-img {
  margin-right: 10px;

  width: 23px;
  height: 21px;
}

.product__score-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #838383;
}
