.products {
}

.products__category {
  margin-top: 50px;
  margin-bottom: 25px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #838383;

  @media (max-width: 1110px) {
    font-size: 24px;
    text-align: center;
  }
}

.products__catalog {
  display: flex;
  flex-wrap: wrap;

  gap: 10px;

  @media (max-width: 1110px) {
    justify-content: center;
  }
}
