.case {
}

.case__image {
  width: 100%;
  max-width: 151px;

  height: 100%;
  max-height: 292px;

  margin-left: 50%;
  transform: translateX(-50%);

  object-fit: contain;

  margin-bottom: 20px;
}

.case__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  text-align: center;
}
