.products {
}

.products__category {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #838383;

  margin-bottom: 25px;

  @media (max-width: $min-desktop) {
    font-size: 30px;
    text-align: center;
  }
}

.products__catalog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 20px;

  margin-bottom: 45px;
}
