@import url('reset.css');

body {
  background-color: #eaeaea;

  font-family: 'Montserrat';
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  padding: 20px 20px;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu-phone {
  width: 15px;
  height: 21px;

  margin-right: 15px;
}

.header__menu-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  margin-right: 5px;
}

.header__menu-arrow {
  width: 8px;
  height: 5px;
}

.header__icons {
  display: flex;
}

.header__icon {
  margin-right: 45px;
}

.header__icon-img {
  width: 22px;
  height: 20px;
}

/* Banner */

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-bottom: 45px;

  height: 100%;
  max-height: 197px;

  background-color: black;
  border-radius: 30px;
}

.banner__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #fff;
}

.banner__img {
  width: 321px;
  height: 226px;

  object-fit: fill;
}

/* Product */

.products {
}

.products__category {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  color: #838383;
}

.product__background {
  width: 100%;
  max-width: 350px;

  height: 100%;
  max-height: 407px;

  background-color: #fff;
  border-radius: 30px;

  margin: 15px;
}

.products__catalog {
  display: flex;
  flex-wrap: wrap;
}

/* Case */

.case {
  padding: 25px 100px;
}

.case__img {
  width: 151px;
  height: 292px;

  margin-bottom: 20px;
}

.case__description {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-align: center;

  color: #1c1c27;
}

/* Product */

.product {
}

.product__img-like {
  width: 20px;
  height: 18px;

  margin-top: 20px;
  margin-left: 20px;
}

.product__img-product {
  width: 219px;
  height: 237px;

  margin: 10px 60px;
}

.product__info {
  display: flex;
  justify-content: space-between;

  margin: 20px;
}

.product__info-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #1c1c27;
}

.product__info-price {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #ffa542;
}

.product__score {
  margin: 20px;
}

.product__score-img {
  width: 23px;
  height: 21px;
}

.product__score-text {
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;

  color: #838383;
}

/* Footer */

.footer {
  height: 100%;
  max-height: 149px;

  background-color: white;
  border-radius: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
}

.footer__nav-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;

  margin-bottom: 10px;
}

.footer__conditions {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.footer__language {
  margin-top: 35px;
}

.footer__language-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  margin-right: 15px;
}

.focus {
  font-weight: 700;
  color: #ffa542;
}

.footer__messenger {
}

.footer__messenger-img {
  width: 30px;
  height: 30px;

  margin-right: 18px;
}
